body {
    text-align: center;
    margin: 0;
    color: white;
    min-height: 200vh;
    overflow-x : hidden ;
    background: #0c1821;

}
h1 {
    font-family: "Arial", sans-serif;
    font-size: 32px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}
